
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        
        <div class="row">
            <div class="col-sm-2" align="center" style="padding-top: 50px">
                <ul class="nav nav-pills nav-stacked table-bordered">
                    <li class="active"><a href="Index">Home</a></li>
                    <li><a href="Save">Save Item</a></li>
                    <li><a href="ViewPage">View Info</a></li>
                </ul>
            </div>
            <div class="col-sm-5">
            </div>
            <div class="col-sm-5"></div>
        </div>
            

        </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
