USE [master]
GO
/****** Object:  Database [SalesDB]    Script Date: 3/9/2017 5:12:31 PM ******/
CREATE DATABASE [SalesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SalesDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SalesDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SalesDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SalesDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SalesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SalesDB]
GO
/****** Object:  Table [dbo].[ItemsTable]    Script Date: 3/9/2017 5:12:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](50) NULL,
 CONSTRAINT [PK_ItemsTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SalesTable]    Script Date: 3/9/2017 5:12:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NULL,
	[ItemId] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_ItemTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ItemsTable] ON 

INSERT [dbo].[ItemsTable] ([Id], [ItemName]) VALUES (1, N'Mango')
INSERT [dbo].[ItemsTable] ([Id], [ItemName]) VALUES (2, N'Banana')
INSERT [dbo].[ItemsTable] ([Id], [ItemName]) VALUES (3, N'Guava')
SET IDENTITY_INSERT [dbo].[ItemsTable] OFF
SET IDENTITY_INSERT [dbo].[SalesTable] ON 

INSERT [dbo].[SalesTable] ([Id], [CustomerName], [ItemId], [Quantity]) VALUES (3, N'Jamil', 5, 54)
INSERT [dbo].[SalesTable] ([Id], [CustomerName], [ItemId], [Quantity]) VALUES (4, N'Jamil', 1, 55)
SET IDENTITY_INSERT [dbo].[SalesTable] OFF
ALTER TABLE [dbo].[SalesTable]  WITH CHECK ADD  CONSTRAINT [FK_SalesTable_ItemsTable] FOREIGN KEY([ItemId])
REFERENCES [dbo].[ItemsTable] ([Id])
GO
ALTER TABLE [dbo].[SalesTable] CHECK CONSTRAINT [FK_SalesTable_ItemsTable]
GO
USE [master]
GO
